/* .App {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.legend {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 10px;
  margin-top: -40px;
} */



.carousel .thumbs{
  display: none;
}


/* navbar */
a {
  text-decoration: none;
  color: black;
}
#logo{
  width: 200px;
  margin: 10px;
}
.navbar{
  width: 100%;
  position: sticky;
  display: flex;
  background-color: rgb(252, 222, 177);
  justify-content: space-between;
}
.menu .list{
  display: flex;
  list-style: none;
}
.list li{
  /* font-weight: bold; */
  cursor: pointer;
  margin: 0px 30px;

}
.nav-icon {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin-right: 50px !important;
  

}
.nav-icon ion-icon{
  margin: 0px 17px;
  font-size: 22px;
}

/* aboutus */
.aboutus{
  margin: 30px;
}
.about{
  display: flex;
  /* justify-content: space-evenly; */


}
.about-img img {
  width: 100%;
}
.about-text {
  padding: 20px;
  
}


/* footer */
footer{
  background-color: rgb(0, 0, 0);
  color: white;
}
.foot-sub1{
  width: 50%;
  margin-left: 5%;

}
.foot-sub1 h1{
  width: 70%;
  

}
.foot-sub1 .foot-mail input{
width: 50%;
height: 28px;
}
.foot-btn{
width: 25%;
height: 28px;
}
.foor-sub2{
  width: 50%;
  margin-left: 5%;

}

.foor-sub2 h1{
  width:70% !important;

}


/* category */
.all-cat{
  display: flex;
  justify-content: space-evenly;
}
.foot-link{
margin:20px 0px
}

.sub-head{
  margin-left:40px
}
.social-media ion-icon{
  font-size: 45px;
  margin-right: 30px;
  
}
/* product page */
.product-body{
  display: flex;
  width: 95%;
  margin: auto;
  border: solid red;
  
}
.product-filter{
  width: 25%;
}
.product-container{
  width: 65%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

/* cart page*/
.cart-body{
  display: flex;
  width: 95%;
  margin: auto;
  /* border: solid red; */
}
.cart-products{
  width: 70%;
  /* border: solid red; */

}
.cart-checkout{
  width: 30%;
  /* border: solid red; */
}
