/* .App {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.legend {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 10px;
  margin-top: -40px;
} */
body{
  overflow-x: hidden;
}



.carousel .thumbs{
  display: none;
}


/* navbar */
a {
  text-decoration: none;
  color: black;
}
#logo{
  width: 200px;
  margin: 10px;
}
.navbar{
  width: 100%;
  position: sticky;
  display: flex;
  background-color: rgb(252, 222, 177);
  justify-content: space-between;
}
.menu .list{
  display: flex;
  list-style: none;
}
.list li{
  /* font-weight: bold; */
  cursor: pointer;
  margin: 0px 30px;

}
.nav-icon {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin-right: 50px !important;
  

}
.nav-icon ion-icon{
  margin: 0px 17px;
  font-size: 22px;
}

/* aboutus */
.aboutus{
  margin: 30px;
}
.about{
  display: flex;
  /* justify-content: space-evenly; */


}
.about-img img {
  width: 100%;
}
.about-text {
  padding: 20px;
  
}


/* footer */
footer{
  background-color: rgb(0, 0, 0);
  color: white;
}
.foot-sub1{
  width: 50%;
  margin-left: 5%;

}
.foot-sub1 h1{
  width: 70%;
  

}
.foot-sub1 .foot-mail input{
width: 50%;
height: 28px;
}
.foot-btn{
width: 25%;
padding: 7.5px;
margin: 0 5px;
cursor: pointer;
}
.foor-sub2{
  width: 50%;
  margin-left: 5%;

}
.foot-link{
  margin-right: 20px;
  text-decoration: underline;
}
.foor-sub2 h1{
  width:70% !important;

}


/* category */
.all-cat{
  display: flex;
  justify-content: space-evenly;
}

.sub-head{
  margin-left:40px
}
.social-media ion-icon{
  font-size: 45px;
  margin-right: 30px;
  
}
/* product page */
.product-body{
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: auto;
  /* border: solid red; */
  
}
.search{
  margin: 50px;
  display: flex;
  justify-content: center;
}
.search input{
  padding: 10px;
  border: solid 0.05px rgba(145, 144, 144, 0.283);
  border-radius: 7px;
  width: 50%;
}
.products{
  display: flex;

}
.product-filter{
  width: 25%;
}
.pro-details{
  margin:20px;
}
.pro-icon{
  font-size: 23px;
}
.product-container{
  width: 65%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.pro-img img{
  width: 100%;
}
.pro-btn{
  width: 70%;
}
.pro-text{
  margin: 10px 0;
}
.pro-btn button{
  margin: 0 10px;
  width: 100%;
  padding: 5px;
}

/* accordation */
.filter-name{
  background-color: rgba(125, 124, 124, 0.42);
  padding: 10px;
}
.filter-1{
  width: 80%;
  margin: 5px;
}
.filters-item{
  /* padding: 5px; */
  margin:5px;
}

/* cart page*/
.cart-body{
  display: flex;
  width: 80%;
  margin: auto;
  border-top:solid 0.05px rgba(145, 144, 144, 0.283) ;
  /* padding: 2%; */
  margin-top: 2%;
}
.cart-products{
  width: 60%;
  /* border: solid red; */

}
.cart-subsec{
  display:flex;
  margin:30px;
  border:solid 0.05px rgba(145, 144, 144, 0.283);
  border-radius: 7px;
  padding:17px;
}
.cart-img img{
width: 150px;
}
.cart-content{
  padding: 0 17px;
}
.cart-info{
  margin: 5px;
}
.cart-info span{
  margin: 0 8px;
}
.cart-checkout{
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  width: 40%;
  padding: 10px 69px;
  border-left: solid 0.05px rgba(145, 144, 144, 0.283);
  text-align: center;
}
.checkout-details{
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.cart-btn{
  margin-top: 15%;
  width: 100%;
  padding: 10px;
  font-weight: bold;
  background-color: rgb(39, 131, 217);
  color: white;
  border: 0px;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
}
/* signin / register */
.form{
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: auto;
  margin-top: 5%;
  padding: 40px;
  border: solid 0.05px rgba(145, 144, 144, 0.283);
  border-radius: 7px;
}
.form-item{
  margin: 10px;
}
.form-item h1{
  width: 100%;
  text-align: center;
  margin-top: 0px;
}
.fill{
  margin: 10px 0;
}
.fill input{
  width: 100%;
  margin: 5px 0;
  padding: 10px;
  border: solid 0.05px rgba(145, 144, 144, 0.283);
  border-radius: 4px;
}
.submit-btn{
  width:45%;
  padding: 10px;
  margin: 6px 5px  10px 0;
  border-radius: 5px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
}
.alter{
  text-decoration: underline;
  margin: 0 6px;

}
.btn{
  margin: 10px 0; 
  margin-right:8px;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 4px;

}


